# Ignore the virtual environment
.venv

# Ignore the .west directory. It is created by the 'west init' command
.west

# Ignore external resources initialized by west
external

# Ignore the build directory
build

# Ignore test results
twister-out*