/ {
    chosen {
        // we can't use cdc acm as console because it lacks required amount of cdc acm endpoints
        zephyr,console = &usart3; 
        oaf,uart-control = &cdc_acm_uart0;
    };
};

// Configuration for the CDC ACM UART
&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
    };
};
