menu "Mount"

config MOUNT_THREAD_STACK_SIZE
    hex "Mount stack size"
    default 0x4000
    help
        The size of the stack used by the mount thread.
        The default value is 0x4000 bytes (16kB).

module = MOUNT
module-str = mount
source "subsys/logging/Kconfig.template.log_config"

endmenu
