/ {
    chosen {
        zephyr,console = &usart1;
        oaf,uart-control = &usart2;
    };
};

&clk_hse {
    clock-frequency = <DT_FREQ_M(8)>;
};

&pll {
    div-m = <4>;
    mul-n = <180>;
    div-p = <2>;
    div-q = <7>;
    clocks = <&clk_hse>;
    status = "okay";
};

&rcc {
    clocks = <&pll>;
    clock-frequency = <DT_FREQ_M(180)>;
    ahb-prescaler = <1>;
    apb1-prescaler = <4>;
    apb2-prescaler = <2>;
};

&usart1 {
    status = "okay";
    current-speed = <115200>;
};

&usart2 {
    status = "okay";
    current-speed = <115200>;
};