/ {
    chosen {
        zephyr,console = &usart2;
        oaf,uart-control = &usart2;
    };

    tmc2209: tmc2209 {
        compatible = "adi,tmc2209";
        en-gpios = <&gpiob 12 GPIO_ACTIVE_HIGH>;
        // msx-gpios = <&gpioe 1 GPIO_ACTIVE_HIGH>,
                       // <&gpioe 2 GPIO_ACTIVE_HIGH>;
        step-gpios = <&gpiob 10 GPIO_ACTIVE_HIGH>;
        dir-gpios = <&gpiob 11 GPIO_ACTIVE_HIGH>;
        micro-step-res = <32>;
        counter = <&counter2>;
        // dual-edge-step;
    };
};

&clk_hse {
    clock-frequency = <DT_FREQ_M(8)>;
};

&pll {
    div-m = <4>;
    mul-n = <180>;
    div-p = <2>;
    div-q = <7>;
    clocks = <&clk_hse>;
    status = "okay";
};

&rcc {
    clocks = <&pll>;
    clock-frequency = <DT_FREQ_M(180)>;
    ahb-prescaler = <1>;
    apb1-prescaler = <4>;
    apb2-prescaler = <2>;
};

&usart1 {
    status = "okay";
    current-speed = <115200>;
};

&usart2 {
    status = "okay";
    current-speed = <115200>;
};

&timers2 {
    status = "okay";
    st,prescaler = <0>;

    counter2: counter {
        status = "okay";
    };
};
