/ {
    chosen {
        zephyr,console = &usart3; // we can't use cdc acm as console because it lacks 
        oaf,uart-control = &cdc_acm_uart0;
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
        label = "CDC_ACM_0";
    };
};