/ {
    chosen {
        zephyr,console = &usart3;
        oaf,uart-control = &cdc_acm_uart0;
        // oaf,uart-control = &usart1;
    };
};

&zephyr_udc0 {
    cdc_acm_uart0: cdc_acm_uart0 {
        compatible = "zephyr,cdc-acm-uart";
        label = "CDC_ACM_0";
    };

    // cdc_acm_uart1 {
        //     compatible = "zephyr,cdc-acm-uart";
        //     label = "CDC_ACM_1";
    // };
};